.user__data--manager {
    > .title {
        margin-bottom: 1em;
    }
    .header__left, .header__right {
        @include grid(6);
    }

    form {
        margin-top: 4em;
    }

    .user__image__profile {
        .add-image {
            width: auto;
            border: 2px dashed $primary-color;
            background: transparent;
            color: $primary-color;
            text-align: center;
            padding: 2em;
            word-wrap: normal;
            @extend %f-bold;
            @extend %f20;

            &:hover {
                @include opacity(0.5);
            }
        }
    }
}
.user__data__header {
    @include grid(12);
    @extend .cf;
    form {
        margin: 0;
        padding: 0;
    }
    button {
        width: auto;
        float: right;
    }
}
.user__data__list {
    margin-top: 2em;
    @include grid(12);
    .table-list {
        width: 100%;
        height: 250px;
        position: relative;
        padding-top: 40px;
        @include vendor(border-radius, 0.7em);
        overflow: hidden;
    }

    .table-list--fixed {
        &:before {
            content: '';
            background: $primary-color;
            color: #212121;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 40px;
        }
        .th-inner {
            position: absolute;
            top: 0;
            line-height: 30px;
            text-align: left;
            //border-left: 2px solid #212121;
            @extend %f-bold;
        }
    }
    .table-list__container {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .table-list__container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    .table-list__container::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
    .table-list__container::-webkit-scrollbar-thumb {
        background-color: #868686;
    }
    table {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        list-style: none;
        background: #fff;
        border-spacing: 0;
        table-layout: fixed;
        border-collapse: collapse;
    }

    tr {
        &:hover {
            background: #F7F6F6;
        }
    }
    
    th {
        color: #212121;
        @extend %f-bold;
        button {
            border: none;
            background: transparent;
            padding: 11px 4em;
            margin: 0;
            @extend %f16;
        }

        .filter {
            &:after {
                content: '';
                border-style: solid;
                border-width: 5px;
                border-color: #000 transparent transparent transparent;
                float: right;
                margin: 7px 0 0 16px;
            }
        }
        .filter.active {
            &:after {
                border-color: transparent transparent #000 transparent;
                margin: 2px 0 0 16px;
            }
        }

        &:first-child {
            .th-inner {
                border: none;
            }
        }
    }
    td {
        padding: 0.7em;
        color: #212121;
        border-left: 2px solid #212121;
        @extend %f-regular;
        @extend %f13;
        &:first-child {
            border-left: 0;
        }
    }

    td.action {
        text-align: center;
    }

    .action-button {
        display: inline-block;
        text-indent: -999em;
        border: none;
        padding: 0.5em;
        width: auto;
        margin: 0 auto;
        @include vendor(border-radius, 0);
        @include vendor(box-shadow, none);
    }

    .edit-button {
        cursor: pointer;
        
        @extend .action-button;
        background: $primary-color;
        &:after {
            content: "";
            display: block;
            @extend .icons-icon-editar;
        }
        &:hover {
            background: #ACBB76;
        }
    }

    .remove-button {
        @extend .action-button;
        background: $red-color;
        &:after {
            content: "";
            display: block;
            margin: 3px 0 0 0;
            @extend .icons-icon-cancel;
        }
        &:hover {
            background: #964B48;
        }
    }
}
