<main class="authentication--bg">
    <div class="auth bg--full bg--home">
        <div class="auth__bx">
            <div class="auth__bx__logo">
                <h1><img src="app/assets/imgs/logo/zuni.png" alt="Zuni"></h1>
            </div>
            <form ng-submit="auth.userIsValid(credentials)" class="auth__bx__form">
                <fieldset>
                    <label>
                        <input type="mail" id="email" ng-model="credentials.email" placeholder="E-mail" required>
                    </label>
                    <label>
                        <input type="password" id="password" ng-model="credentials.password" placeholder="Senha"
                               required>
                    </label>
                    <label for="rememberMyUser">
                        <input type="checkbox" id="rememberMyUser" name="rememberMyUser" ng-model="rememberMyUser"
                               ng-checked="rememberMyUser">
                        <span>Continuar conectado</span>
                    </label>
                    <label>
                        <button type="submit" class="btn--submit">Entrar</button>
                    </label>
                    <label class="forget__bx">
                        <button type="button" ng-click="auth.recoverPassword()">Esqueci minha senha</button>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="auth__footer">
            <img src="app/assets/imgs/logo/ufmg.png" alt="Universidade Federal de Minas Gerais">
        </div>
    </div>
</main>
