<main class="authentication--bg">
    <div class="auth bg--full bg--home">
        <div class="auth__bx">
            <div class="auth__bx__logo">
                <h1><img src="app/assets/imgs/logo/zuni.png" alt="Zuni"></h1>
                <p>Informe o e-mail cadastrado para receber sua nova senha.</p>
            </div>
            <form ng-submit="authRecover.recoverPassword(credentials)" class="auth__bx__form">
                <fieldset>
                    <label>
                        <input type="mail" id="email" ng-model="credentials.email" placeholder="E-mail" required>
                    </label>
                    <label>
                        <button type="submit" class="btn--submit">Enviar</button>
                    </label>
                </fieldset>
            </form>

            <div class="error js-error-message">
                <p>Por favor, digite um email válido.</p>
            </div>

            <div class="success js-success-message">
                <p>E-mail enviado. Agora você será redirecionado para a tela de Login</p>
            </div>
        </div>
        <div class="auth__footer">
            <img src="app/assets/imgs/logo/ufmg.png" alt="Universidade Federal de Minas Gerais">
        </div>
    </div>
</main>
