/*------------------------------------*\
    #PROJECT-COLORS
\*------------------------------------*/

$primary-color: #b9d174;
$tags-color: #ffd693;
$red-color: #f9716c;
$dashboard-background: #212021;